@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   background-color: #830483;
   color: white;
}

.film-strip {
   background-image: url(film-strip.png);
   height: 12px;
   background-repeat: repeat-x;
}

.text-shadow {
   text-shadow: 2px 2px 2px black;
}

.react-responsive-modal-root .react-responsive-modal-modal {
   background: black;
   max-width: 1000px;
   width: 100%;
   margin: 0;
}

@media screen and (min-width: 640px) {
   .react-responsive-modal-root .react-responsive-modal-modal {
      border-radius: 8px;
      box-shadow: 0px 0px 30px #800080;
   }
}

.react-responsive-modal-root .react-responsive-modal-closeButton {
   fill: white;
   /* display: none; */
}

.checkbox-container {
   height: 30px;
   width: 30px;
   display: inline-block;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@media screen and (min-width: 960px) {
   .checkbox-container {
      height: initial;
      width: initial;
      display: block;
      margin: 0;
   }
}

.checkbox-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   white-space: nowrap;
   width: 1px;
}

input:focus-visible + .checkmark {
   background-color: #585858;
}

.checkbox-container .checkbox {
   cursor: pointer;
}

.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 30px;
   width: 30px;
   border: 2px solid #eee;
   border-radius: 3px;
   transition: background-color 0.2s ease-in-out;
}

@media screen and (min-width: 960px) {
   .checkmark {
      top: -15px;
   }
}

.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
   display: block;
}

.checkbox-container input:checked ~ .checkmark {
   background-color: #000;
}

.checkbox-container .checkmark:after {
   left: 9px;
   top: 4px;
   width: 8px;
   height: 15px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
}

.no-scrollbar {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.loader {
   margin: auto;
   border: 20px solid #eaf0f6;
   border-radius: 50%;
   border-top: 20px solid #830483;
   width: 200px;
   height: 200px;
   animation: spinner 1s linear infinite;
   transform: translate(-50%, -50%);
   left: 0;
   right: 0;
   top: 35%;
}

@keyframes spinner {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.animate-rotation {
   animation: addIcon 0.2s linear forwards;
   transform: rotate(45deg);
}

@keyframes addIcon {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(45deg);
   }
}
